apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: courses-v1
  labels:
    name: courses-v1
    environment: dev
    app: courses-v1
    version: v1
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: courses
        environment: dev
        app: courses
        version: v1
    spec:
      containers:
      - name: courses
        image: uday1bhanu/courses:latest
        imagePullPolicy: Always
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
            scheme: HTTP
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 60
          timeoutSeconds: 1
        ports:
        - containerPort: 8080
        env:
          - name: mongodburl
            value: mongodb://admin:admin@uday-alpha-mongodb.default.svc.cluster.local:27017/university
          - name: serverport
            value: "8080"
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 250m
            memory: 128Mi 

